<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="parallel">
    <test name="Device-1" >
        <parameter name="url" value="https://www.crehana.com/org/qa-automation/entrar/" />
        <classes>
            <class name="testScript.CreateUserTest"/>
        </classes>
    </test>
</suite>